name: Release

permissions:
  contents: write

on:
  push:
    tags:
      - 'v*'

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - uses: oven-sh/setup-bun@v2

      - run: bun run scripts/release.ts
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      # # Uncomment the following lines to publish to npm on CI
      #
      # - run: bun install
      # - run: bun publish --access public
      #   env:
      #     NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
